.root {
    background-color: rgb(75, 161, 133);
}

.body {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-trio {
    background-size: none;
    width: 95%;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 600px) {
    .img-trio {
        height: 300px;
        object-fit: cover;
    }
}
