.root {
    /*background-image: url("img/background-logo-rotated.png");*/
    background: linear-gradient(150deg, rgb(33, 13, 88), rgb(10, 49, 65));
}

.body {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.img-trio {
    background-size: none;
    width: 90%;
    padding-top: 96px; /* Logo height + (2 * logo margin) */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.intro {
    width: 85%;
    margin-top: -90px;
    padding-bottom: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgba(47, 134, 168, 0.863);
}

.intro-body {
    width: 80%;
    margin: auto;
    /*background-color: orange;*/
}

.intro h1 {
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro p {
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.release-info {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    background:linear-gradient(45deg, black, rgba(8, 7, 48, 0.308));
}

.release-info-text {
    width: 80%;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    background:linear-gradient(-45deg, black, rgba(8, 7, 48, 0.308));
}

.about-text {
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .img-trio {
        width: 100%;
        height: 300px;
        padding-top: 90px; /* Logo height + (2 * logo margin) */
        object-fit: cover;
    }

    .intro {
        margin-top: -50px;
    }

    .intro h1 {
        font-size: 42px;
    }

    .intro h3 {
        font-size: 20px;
    }

    .intro p {
        font-size: 18px;
    }

    .release-info {
        font-size: 18px;
    }

    .about {
        font-size: 18px;
    }
}
