.header-container {
    width: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0);
}

.header {
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(0, 0, 0);
}

.logo {
    height: 80px;
    margin: 8px;
}

.header-buttons {
    width: 15%;
    min-width: calc(var(--header-button-width) * 2.5);
    display: flex;
    justify-content: space-around;
    margin-right: 7px;
    /*background-color: rgba(245, 84, 111, 0.247);*/
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 600;
    min-width: var(--header-button-width);
    max-width: var(--header-button-width);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgba(56, 90, 6, 0);
}

.spotify {
    border: 2px solid var(--color-spotify);
    color: var(--color-spotify);
}

.spotify:hover {
    color: rgb(0, 0, 0);
    background-color: var(--color-spotify);
}

.booking {
    border: 2px solid var(--color-booking);
    color: var(--color-booking);
}

.booking:hover {
    color: rgb(0, 0, 0);
    background-color: var(--color-booking);
}

@media only screen and (max-width: 600px) {
    :root {
        --header-button-width: 75px;
    }

    .logo {
        height: 60px;
        margin: 15px;
    }

    .header-buttons {
        width: 45%;
    }

    .button {
        height: 35px;
        font-size: small;
    }
}

@media only screen and (max-width: 420px) {
    .logo {
        height: 50px;
        margin: 15px;
    }

    .header-buttons {
        width: 100%;
        justify-content: right;
        /*background-color: red;*/
    }

    .button {
        height: 35px;
        margin-left: 10px;
        font-size: small;
        /*background-color: blue;*/
    }
}
